<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scal=1.0">
        <title>Menu</title>
        <link rel="stylesheet" href="{%static 'css/cssMenu.css'%}">
    </head>
    <body>
        <H1 id="header">Pizza's Pizza Palace</H1>
        <div class="box">
        {%for p in pizza %}
        <div class="pizza">
            <h1>{{p.name}}</h1>
            <img src={{p.image}} alt={{p.image}} width="150" height="150">
            <h2>{{p.description}}</h2>
            <h3>${{p.price}}</h3>
            <button onclick="">Add to cart</button>
        </div>
        {% endfor %}
        </div>
    </body>
</html>